body {
  background-color: #666699;
}
.headerFill {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
  background-color: #fa9fc9;
}
.headerFill img {
  width: 30%;
  height: auto;
}
.dropbtn {
  display: flex;
  background-color: #fa9fc9;
  color: #666699;
  width: 10rem;
  font-size: 64;
  font-weight: 300;
  border: none;
  cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #fa9fc9;
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dropdown-content {
  display: none;
  width: 10rem;
  background-color: #fa9fc9;
  box-shadow: 0px 8px 16px 0px #666699;
  z-index: 1;
}
.dropdown-content a {
  color: #666699;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #e83e8c;
}
.show {
  display: block;
}
.mainInfo {
  width: 100%;
}
.mainInfo img {
  width: 100%;
}
.mainInfo p {
  width: 90%;
}
.imageHoverOne {
  display: flex;
  flex-direction: row;
}
.imageHoverOne .hoverOne img {
  max-width: 40%;
  min-width: 40%;
}
.imageHoverOne .hoverTwo img {
  max-width: 60%;
  min-width: 60%;
}
.imageHoverTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.imageHoverTwo .hoverThree img {
  max-width: 60%;
  min-width: 60%;
}
.imageHoverTwo .hoverFour img {
  max-width: 40%;
  min-width: 40%;
}
.imageHoverThree {
  display: flex;
  flex-direction: row;
}
.imageHoverThree .hoverFive img {
  max-width: 40%;
  min-width: 40%;
}
.imageHoverThree .hoverSix img {
  max-width: 60%;
  min-width: 60%;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fa9fc9;
  background-color: #e83e8c;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #e83e8c;
  background-color: #fa9fc9;
  border: 2px solid b;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .carousel {
    width: 1200px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fa9fc9;
  background-color: #e83e8c;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #e83e8c;
  background-color: #fa9fc9;
  border: 2px solid #666699;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}
.width-100 {
  width: 100%;
}
