.headerFill {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
}
.headerFill img {
  width: 30%;
  height: auto;
}
.mainInfo {
  width: 100%;
}
.mainInfo img {
  width: 100%;
}
.mainInfo p {
  width: 90%;
}
.imageHoverOne {
  display: flex;
  flex-direction: row;
}
.imageHoverOne .hoverOne img {
  width: 98%;
}
.imageHoverOne .hoverTwo img {
  width: 98%;
}
.imageHoverTwo {
  display: flex;
  flex-direction: row;
}
.imageHoverTwo .hoverThree img {
  width: 98%;
}
.imageHoverTwo .hoverFour img {
  width: 98%;
}
.imageHoverThree {
  display: flex;
  flex-direction: row;
}
.imageHoverThree .hoverFive img {
  width: 98%;
}
.imageHoverThree .hoverSix img {
  width: 98%;
}
.menu {
  display: inline-block;
  cursor: pointer;
}
