* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
.headerfill {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: solid black 2px;
}