.headerFill {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: wrap;
}
.headerFill img {
    width: 30%;
    height: auto;
}
.mainInfo {
    width: 100%;
    img {
        width: 100%;
    }
    p {
        width: 90%;
    }
}
.imageHoverOne {
    display: flex;
    flex-direction: row;
    .hoverOne img {
        width: 98%;
    }
    .hoverTwo img {
        width: 98%;
    }
}
.imageHoverTwo {
    display: flex;
    flex-direction: row;
    .hoverThree img {
        width: 98%;
    }
    .hoverFour img {
        width: 98%;
    }
}
.imageHoverThree {
    display: flex;
    flex-direction: row;
    .hoverFive img {
        width: 98%;
    }
    .hoverSix img {
        width: 98%;
    }
}
.menu {
    display: inline-block;
    cursor: pointer;
}
