.mainInfo {
    width: 100%;
    img {
        width: 100%;
    }
    p {
        width: 90%;
    }
}
.imageHoverOne {
    display: flex;
    flex-direction: row;
    .hoverOne img {
        max-width: 40%;
        min-width: 40%;
    }
    .hoverTwo img {
        max-width: 60%;
        min-width: 60%;
    }
}
.imageHoverTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .hoverThree img {
        max-width: 60%;
        min-width: 60%;
    }
    .hoverFour img {
        max-width: 40%;
        min-width: 40%;
    }
}
.imageHoverThree {
    display: flex;
    flex-direction: row;
    .hoverFive img {
        max-width: 40%;
        min-width: 40%;
    }
    .hoverSix img {
        max-width: 60%;
        min-width: 60%;
    }
}
.headerFill {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: wrap;
}
.headerFill img {
    width: 30%;
    height: auto;
}
.headerFill menu {
    z-index: 2;
    right: 25px;
    cursor: pointer;
    .menu-button {
      padding: 15px;
      border: 3px solid @White;
      color: @White;
      font-size: 20px;
      font-weight: bold;
      &:hover {
        background-color: @Pink;
      }
    }
    .menu-content {
      width: 100%;
      background-color: @White;
      display: flex;
      flex-direction: column;
      align-items: center;  
      margin-top: 10px;
      border: 2.5px solid @Blue-Grey;
    }
    .menu-link {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      font-size: 18px;
      text-decoration: none;
      color: @Blue-Grey;
      &:hover {
        color: @White;
        background-color: @Blue-Grey;
      }
    }
    .menu-hidden {
      display: none;
    }
  }
  
  
  
  
  
  