.headerFill {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
}
.headerFill img {
  width: 30%;
  height: auto;
}
.mainInfo {
  width: 95%;
}
.imageHoverOne {
  display: flex;
  flex-direction: row;
}
.imageHoverOne .hoverOne img {
  width: 48%;
}
.imageHoverOne .hoverTwo img {
  width: 48%;
}
.imageHoverTwo {
  display: inline-block;
}
.imageHoverThree {
  display: inline-block;
}
.menu {
  display: inline-block;
  cursor: pointer;
}
